<div class="container">
 <!--<div class="row pijlen">
  <div class="col-3">
      <fa (click)='vorigeVraag()' name="arrow-circle-left" class="col-2" [class.nietWeergevenPijl]="!geefWeerPijl"></fa>
      <fa name="fal fa-circle" class="col-2" [class.nietWeergevenPijl]="geefWeerPijl"></fa>
  </div>-->
  <div class="row titelVraag" [class.shaker]="shaker"> 
  <h6 class="col-12">Vraag {{vraagNummer}}</h6>
  </div>
  <!--<div class="col-3">
      <fa (click)='volgendeVraag()' name="arrow-circle-right" class="col-2" [class.nietWeergevenPijl]="!geefWeerPijl"></fa>
      <fa name="fal fa-circle" class="col-2" [class.nietWeergevenPijl]="geefWeerPijl"></fa>

  </div>
  </div>
  </div>-->
  <div class="row">
      <h4 class="col-12">{{vraag}}</h4>
  </div>
  <div class="row afbeelding" *ngIf="imagePath">
    <img class="img-responsive" [src]="imagePath">
  </div>

  <div class="row" [class.nietWeergeven]="geefWeerLaden">
    <fa name="spinner" animation="spin" class="col-1 offset-5"></fa>
  </div>
  <div>
  <form (ngSubmit)="antwoordFunctie(antwoordForm)" #antwoordForm="ngForm" [class.nietWeergeven]="geefWeerForm">
  <div class="form-group">
    <div class="row">
        <div class="col-8 offset-2">
          <div class="row">
            <input class="form-control" [value]="antwoordHTML" minlength="1" 
            name="antwoordHTML" [(ngModel)]="antwoordHTML" placeholder="..." autocomplete="off">
          </div>
          <div class="row">
            <button type="submit" class="col-12 btn" formmethod="POST">Antwoord
            </button>
          </div>
        </div>
    </div>
  </div>
</form>
<div [class.nietWeergeven]="geefWeerOntv" class="row">
    <h6 class="col-12"><fa name="fas fa-check"></fa> Bedankt, antwoord ontvangen!</h6>
</div>
<div *ngIf="antwoordenHuigeVraag.length">
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" width="60%"><button class="btn">Ploeg</button></th>
        <th scope="col" width="10%"><button class="btn">J</button></th>
        <th scope="col" width="30%"><button class="btn">Tijd</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let antwoord of antwoordenHuigeVraag; let j = index'>
        <td>{{antwoord.tafel}}</td>
        <td *ngIf="antwoord.juist"><fa name="fas fa-check-circle"></fa></td>
        <td *ngIf="!antwoord.juist"><fa name="fas fa-window-close"></fa></td>
        <td *ngIf="antwoord.juist">{{antwoord.tijdstip | tijdsindicator:eersteAntw}}
          <fa *ngIf="j == 0 && antwoord.juist" name="fas fa-trophy"></fa></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<button (click)='naarScore()' class="btn score">Score</button>
<div style="text-align:center">
  <h5>Ontwikkeld door <a href="https://www.linkedin.com/in/vincent-reynaert-4495ab123/" target="_blank">VR</a></h5>
</div>
