.nietWeergeven {
    display: none;
}

.nietWeergevenPijl {
    display: none;
}

.first {
    font: yellow;
}
p {
    font-size: 2em;
    text-align: center;
}

.pijlen fa {
    font-size: 3em;
}

.melding {
    font-size: 1.5em;

}

h4 {
    text-align: center;
}

.score {
    position: absolute;
    top: 0;
    right: 0;
    width: 100;
}

.shaker {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

img {
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 15px;
    max-height: 120px;

}
